<div class="container center">
  <form [formGroup]="credentials">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input formControlName="nome" type="text" class="form-control" id="nome" placeholder="seu nome">
    </div>
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input formControlName="cpf" type="text" class="form-control" id="cpf" mask="000.000.000-00">
    </div>
    <div class="form-group">
      <label for="altura">Altura</label>
      <input formControlName="altura" type="number" class="form-control" id="altura" min="0">
    </div>
    <div class="form-group">
      <label for="peso">Peso</label>
      <input formControlName="peso" type="number" class="form-control" id="peso" min="0">
    </div>
    <button (click)="criarIMC()" class="btn IMC">IMC</button>
  </form>
</div>
